.pageBody {
    width: 60%;
    margin: 3rem auto;
}

.header {
    font-size: 2rem;
}

.formCard {
    background-color: white;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.formCard__inputGroup {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    display: flex;
    gap: 0.5rem;
}

.formCard__inputGroup * {
    flex: 1 1 0;
}

.formCard__label {
    font-weight: bold;
    margin-bottom: 0.25rem;

    font-size: 1.25rem;
}

.formCard__input {
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    padding: 0.50rem;
    margin-bottom: 1rem;

    resize: none;

    font-size: 1rem;
}

.formCard__submit {
    width: 100%;
    background-color: #2d91fc;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 0.75rem; 

    font-size: 1.25rem;
}