@import "tailwindcss";

@theme {
  --color-primary: #E9292A;
  --color-primary-hover: #FE6D6D;

  --color-secondary: #171717;
  --color-secondary-hover: #323232;

  --color-accent: #F9D346;
  --color-accent-hover: #F9D346;

  --color-bg-main: #E8E8E8;
  --color-bg-card: #F4F4F4;

  --color-text-primary: #171717;
  --color-text-secondary: #F4F4F4;
}