@import "tailwindcss";

:root {
  --primary: #C8102E;
  --secondary: #000000;
  --accent: #FFC72C;
  --accent-hover: #E6B800;

  --bg-main: #FFFFFF;
  --bg-card: #F5F5F5;

  --text-primary: #111111;
  --text-secondary: #333333;
  --text-muted: #666666;
}